body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header h1  {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  

}

header>nav {
  text-align: center; 
}
header>nav span a { 
  background-color:red; 
}

section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure>figcaption{
  text-align: center;

}

section>p{
  text-align: center;
  margin-right: 400px;
  margin-left: 400px;
}

#details {

display:flex; 
justify-content:space-evenly;
background-color: rgb(192, 172, 172);
  }


